<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<span style="color:white">Pokemón home page.</span>
<div class="section">
  <div class="container">
    <table class="white-text">
      <thead>
        <tr>
          <th>ID</th>
          <th>name</th>
          <th>Trainer ID</th>
          <th>CP</th>
          <th>In Gym</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < pokemon.length; i++){ %>
          <tr>
            <td><%= pokemon[i].id %></td>
            <td><a href="/pokemonProfile/<%=pokemon[i].id%>"><%= pokemon[i].name %></a></td>
            <td><%= pokemon[i].trainer_id %></td>
            <td><%= pokemon[i].cp %></td>
            <%if(pokemon[i].in_gym){%>
              <td>Yes</td>
            <%}else{%>
              <td>No</td>
            <%}%>
            <%if(open === "yes"){%>
            <%if(pokemon[i].in_gym){%>
              <td><a href="/inGymPokemon/<%=pokemon[i].id%>/<%=pokemon[i].in_gym%>">Remove From Gym</a></td>
            <%}else{%>
              <td><a href="/inGymPokemon/<%=pokemon[i].id%>/<%=pokemon[i].in_gym%>">Assign To Gym</a></td>
            <%}%>
            <%}else{%>
              <%if(pokemon[i].in_gym){%>
                <td><a href="/inGymPokemon/<%=pokemon[i].id%>/<%=pokemon[i].in_gym%>">Remove From Gym</a></td>
                <%}else{%>
                  <td></td>
                <%}%>
            <%}%>
            <td><a href="/editPokemon/<%=pokemon[i].id%>">Edit</a></td>
            <td><a href="/deletePokemon/<%=pokemon[i].id%>">Delete</a></td>
          </tr>
        <% } %>

      </tbody>
    </table>

  </div>

</div>



<a href="/addPokemon">Add New Pokemon</a>



<!-- <button type="button" name="button" id="add_new">+ Add New Pokemon</button>

<script type="text/javascript">
   var btn = document.getElementById("add_new");
   btn.addEventListener("click", function(){

   })

</script> -->
