<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>



<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s6 m6">
        <h3 class="white-text">Player One:</h3>
        <%if(playerone != 'no'){%>
          <p class="white-text">Name: <%=playerone.name%></p>
          <p class="white-text">CP: <%=playerone.cp%></p>
        <%}else{%>
          <form action="/addToGym/one" method="post">
              <select class="white-text" name="id">
                <option value="">Select Pokemon</option>
                <%for(let i = 0; i < pokemon.length; i++){%>
                  <option value="<%=pokemon[i].id%>"><%=pokemon[i].name%></option>
                <%}%>
              </select>
      <br>
      <br>
          <input class="btn deep-orange darken-4" value="Add Pokemon" type="submit">
          </form>

        <%}%>
      </div>
      <div class="col s6 m6">
        <h3 class="white-text">Player Two:</h3>
        <%if(playertwo != 'no'){%>
          <p class="white-text">Name: <%=playertwo.name%></p>
          <p class="white-text">CP: <%=playertwo.cp%></p>
      <%}else{%>
        <form action="/addToGym/two" method="post">
            <select class="white-text" name="id">
              <option value="">Select Pokemon</option>
              <%for(let i = 0; i < pokemon.length; i++){%>
                <option value="<%=pokemon[i].id%>"><%=pokemon[i].name%></option>
              <%}%>
            </select>
    <br>
    <br>
        <input class="btn deep-orange darken-4" type="submit" value="Add Pokemon">
        </form>
      <%}%>
      </div>
    </div>
  </div>

</div>





<div class="section">
  <div class="container">
    <div class="row">
      <%if(battle === 'yes'){%>
        <a class="btn deep-orange darken-4" href="/Battle">Battle</a>
      <%}%>
    </div>
</div>
  </div>
