<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>



<div class="section grey lighten-1">
  <div class="container center-align ">
    <%if(message === "TIE!"){%>
      <h3><%=pokemon[0].name%> and <%=pokemon[1].name%> <%=message%></h3>

    <%}else{%>
      <h3><%=pokemon.name%> is the <%=message%></h3>
    <%}%>

    <a class="btn deep-orange darken-4" href="/restart">Restart</a>

  </div>

</div>
